---
import { getCollection } from 'astro:content';
import BlogHeader from '../components/BlogHeader.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';

const posts = (await getCollection('blog', ({ data }) => {
  return data.isDraft !== true;
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<DefaultLayout>
  <section>
    <div class="blog-header"> <BlogHeader /></div>
    <ul class="content">
      {
        posts.map((post) => (
          <li>
            <h1><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h1>
            <h2> 
               {post.data.pubDate.toDateString()}
            </h2>
            <p>{post.data.description}</p>
            <a href={`/blog/${post.slug}/`}>{post.data.fullPost}</a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>

<style>
  section {
    padding: 0;
    margin: 0;
    background: var(--purple-mirage);
  }
   .blog-header {
    padding: 0;
    }

  ul {
    list-style: none;
    text-decoration: none;
  }
  
  .content {
    margin: 40px;
    padding: 20px 100px 200px 100px;
  }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    padding: 1px 2px 10px;
    font-weight: 800;
  }
  .content p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .content a {
    color: var(--blue-shift);
    text-decoration: none;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
    cursor: pointer;
  }
  .content a:hover {
    color: #ed30b2;
  }
  @media screen and (max-width: 800px) {
    section .content {
    margin: 0;
    padding: 10px;
  }
  .content h1 {
    font-size: 1.6em;
    margin: 0;
    font-weight: 900;
  }
  .blog-header {
    padding: 0;
    }
  }
</style>


