---
import SiteMeta from "../components/SiteMeta.astro"; '../components/SiteMeta.astro';
const {
  title = 'Victor Space',
  description = 'My personal portfolio site. Contains my resume, projects, about me page, personal blog.',
  url,
  image = '/social-preview-image.png',
  author = 'Victor Eno',
} = Astro.props;

import '@fontsource/poppins';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import '@fontsource/silkscreen'
import '@fontsource/roboto/900.css';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    	/>
	</head>
	<body>
		<div class="default-layout">
			<Header />
		     <slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>

:root {
  --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--blue-shift: rgb(65, 200, 255);
		--purple-shift: rgb(230, 30, 255);
		--pink-shift: rgba(255, 103, 230, 0.881);
		--pink-sea: #ef96c5;
		--blue-dew: #84ebf4;
		--purple-mirage: #201932;
		--moody-text: #c5cae9;
		--moody-night: #40444b;

    font-family: 'Poppins', Courier, monospace;
}

*, *::before,
	*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	}
  html,
	body {
		font-family: 'Popinps', system-ui, sans-serif;
		overflow-x: hidden;
		width: 100%;
    	min-height: 100vh;
		line-height: 1.6em;
    	color: white;
	}
	.default-layout {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		min-height: 100vh;
	}
	h1 {
		font-size: 2.2em;
		font-weight: 600;
		line-height: 1.2em;
		padding: 10px 0;
		color: var(--moody-text);
	}
	h2 {
		font-size: 1.5em;
		font-weight: 200;
		line-height: 1.2em;
		padding: 0;
		color: var(--moody-text);
	}
	img {
  		max-width: 100%;
  		height: auto;
		}
	hr {
  		padding: 0;
  		border: 0;
  		height: 1px;
  		margin: 40px auto;
  		background-color: var(--moody-text);
	}
	code {
		font-family: 'Popinps', system-ui, sans-serif;
		font-size: 1em;
  		color: #555;
  		padding: 0.2em 0.4em;
  		border-radius: 2px;
 		-webkit-font-smoothing: antialiased;
 		-moz-osx-font-smoothing: grayscale;
		}
		
	pre {
  		border-radius: 8px;
  		margin: 1.2em 0;
  		padding: 1.2em;
	}
	pre code {
  		padding: 0;
	}

	blockquote {
  		border-left: 4px solid #cccccc;
  		font-size: 1.4em;
  		font-style: italic;
  		margin: 2rem 0;
  		padding-left: 2rem;
  		padding-right: 2rem;
	}

	blockquote p {
  		padding-bottom: 6px;
	}

	blockquote footer {
  		font-size: 1.1rem;
  		text-align: right;
	}
	table {
  		border-collapse: separate;
		width: 100%;
		padding: 8px;
		color: #40444b;
		background-color: var(--blue-shift);
		border: 1px solid var(--moody-text);
  		font-family: var(--font-family-sans);
  		font-size: 1.125em;
  		margin: 2em 0;
	}
	th, td {
  		border: 1px solid #40444b;
  		padding: 0.4em;
		}
		
	ol {
		padding: 20px;
		display: inline-block;
	}
	figure {
  		padding: 0;
 		 border: 0;
 		 font-size: 100%;
 		 font: inherit;
 		 vertical-align: baseline;
 		 -webkit-margin-start: 0;
 		 -webkit-margin-end: 0;
 		 margin: 0 0 3em 0;
	}
	a {
		font-size: 1em;
		list-style: none;
		text-decoration: none;
		color: var(--blue-dew);
	}
	@media screen and (max-width: 800px) {
		code {
			width: 200vw;
		}
		p {
			font-size: 1.2em;
		}
	}
</style>

