---
import SiteMeta from "../components/SiteMeta.astro"; '../components/SiteMeta.astro';
const {
  title = 'Victor Space',
  description = 'My personal portfolio site. Contains my resume, projects, about me page, personal blog.',
  url,
  image = '/social-preview-image.png',
  author = 'Victor Eno',
} = Astro.props;

import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import Header from "../components/Header.astro";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>

:root {
  --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--blue-shift: rgb(65, 200, 255);
		--pink-shift: rgb(230, 30, 255);
		--pink-light-shift: rgba(255, 103, 230, 0.881);

    font-family: 'Poppins', Courier, monospace;
}

*, *::before,
	*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	}
  html,
	body {
		font-family: 'Popinps', system-ui, sans-serif;
		overflow-x: hidden;
		width: 100%;
    	min-height: 100vh;
		line-height: 1.6em;
    	color: white;
	}
	h1 {
		font-size: 1.6em;
		line-height: 1.2em;
		color: rgb(179, 219, 251);
	}
	code {
		font-family: 'Popinps', system-ui, sans-serif;
		font-size: 16px;
		color: aliceblue;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		border: 2px solid #ef96c5;
		background-color: #0a2b4c;
		padding: 0px 10px;
		display: inline-block;
		margin: 0;
		width: 80vw;
	}
	@media screen and (max-width: 800px) {
		code {
			width: 200vw;
		}
	}
</style>

